# MetaTrader 5 login details
MT5_LOGIN=161246309
MT5_SERVER=Exness-MT5Real21
MT5_PASSWORD=V3nt1l@t0r9791
OPENAI_API_KEY=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
WEBHOOK_URL=https://verbally-faithful-monster.ngrok-free.app/telegram/
TELEGRAM_TOKEN=7636717444:AAGZqmM0UGuKdAfAqUDjilTvPWarCMcQeFU
TELEGRAM_BOT_CHAT_ID=7550446596
TELEGRAM_WEBHOOK_SECRET=6969

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1430424615150419978/uyGEvNPuxeVa5OyzSMMfiFcKVW-9_JxUlmAFAR2A1Rpe4pGybkBOWUXjCjTOTlql11N7
DISCORD_BOT_NAME=Synergis Trading

PHONE_BEARER_TOKEN=phone_control_bearer_token_2025_v1_secure
AGENT_SECRET=phone_control_bearer_token_2025_v1_secure
API_SECRET=8j5Cg8aAYy8uujCpvOv6KA8pZRm7yqWjhI6m1euVvU4
PHONE_HUB_URL=ws://localhost:8001/agent/connect
IDEMPOTENCY_TTL=600

TWELVE_DATA_API_KEY=50cb954f6191421b942658caf41c501c

FMP_API_KEY=CjBWHs61bc2YLbAVPUjPpxxHRT7I6Ocd

X_Client_ID=OF9BZnp5ZHM2ZDVQdXpPejMyamw6MTpjaQ
X_API_KEY=csFMmKruHA0wLbXB9jw1rePyX
X_API_SECRET=YkLRMPXpdddekc6Y9Vq3PCqTMlfywkaYwcVMirM797dvda4HMo
X_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAPMfgwEAAAAA5beDttEFbLqhfYEyBdlSFrZ%2BM6w%3DydAHe2zpWDV22N1YawVathdmBMECzff5bI50ylz8dQHyCGVAFl

ALPHA_VANTAGE_API_KEY=G67YNJB4WFHA1DI8

HF_HUB_TOKEN=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

RECIPIENT_CHAT_ID=

CHAT_BOT_TOKEN=7963503886:AAHeEopJWVt-NzeF3yxB46kuKC1R8sKpHO4

NEWSDATA.IO_API=pub_97e49040005b4b5693ea001ab9d21e3c

MT5_WINDOW_TITLE=Exness

OPENAI_MODEL=gpt-4o
USE_PARALLEL_ANALYSIS=1
USE_FAST_FEATURES=1

USE_TRAILING_STOPS=1

AUTO_EXIT_ENABLED=1  # Auto-tighten SL (use with caution!)

AUTO_CUT_ENABLED=1

DEFAULT_LOT_SIZE=0.01
SLIPPAGE_POINTS=50
MAGIC_NUMBER=202510
RISK_PCT=0
ALWAYS_SHOW_EXEC=1

JOURNAL_ENABLE=1
JOURNAL_DIR=C:\mt5-gpt\TelegramMoneyBot.v5_17_9\journal
# (Optional) override file paths:
JOURNAL_CSV=C:\path\to\trades.csv
JOURNAL_DB=C:\path\to\trades.sqlite

CHARTLOAD_PATH="C:\\Users\darry\\AppData\\Roaming\\MetaQuotes\\Terminal\\EFB95A28EA5146E8A992914988772B69\\MQL5\\Files\\chartload.txt"

AHK_EXE=C:\Program Files\AutoHotkey\AutoHotkey.exe
AHK_SCRIPT=C:\mt5-gpt\TelegramMoneyBot.v5_15_2\arrange_charts.ahk
MT5_FILES_DIR=C:\Users\darry\AppData\Roaming\MetaQuotes\Terminal\Common\Files
AUTO_ARRANGE=1

MIN_STOPS_TICKS_FALLBACK=20

MT5_PATH="C:\\Program Files\\MetaTrader 5\\SynergisEA\\terminal64.exe"

# Logging level (INFO, DEBUG, ERROR)
LOG_LEVEL=INFO

#Ngrok details
NGROK_URL=https://verbally-faithful-monster.ngrok-free.app
NGROK_AUTHTOKEN=2y0f6eNaeIjVc4eHiHgxs9h2TLL_3fuUyEqd5V3VjFztxiYws

DEMO_ENTRY=1800
DEMO_SL=1790
DEMO_TP=1820
DEMO_LOT=0.01
# WhatsApp Web API
WHATSAPP_WEB_API_URL=http://localhost:3000/send
WHATSAPP_TO_NUMBER=+27763303889
